/* App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.home {
  margin: 20px;
}

.book-details {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
  transition: width 0.3s;
}

.book-details.expanded {
  width: 100%;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar input {
  padding: 5px;
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
